@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  @media (max-width: 768px) {
    padding-bottom: 10px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;

      .header__logo {
        margin-bottom: 15px;
      }

      .header__cart {
        margin-top: 20px;
      }
    }
  }

  &__logo {
    display: flex;
    @media (max-width: 383px) {
      padding-left: 5px;
    }

    img {
      margin-right: 15px;
      width: 80px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
      max-width: 160px;
    }
  }
}
