.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
}

.input:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 12px;
  top: 12px;
}

.clearIcon {
  width: 25px;
  height: 25px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
}
.clearIcon:hover {
  opacity: 0.8;
}
